body {
  background-color: rgba(102, 97, 97, 0.678);
  font-size: 2em; }

.container {
  width: 600px;
  margin-top: 10%; }

#text {
  min-height: 100px; }

div {
  -webkit-border-radius: 10px;
  border-radius: 10px; }
